body,html{
  width: 100%;
  height: 100%;
}
.block{
  width: 40%;
  height: auto;
  background: #ccc;
  float: left;
  margin: 10px;
}
.block>p{
	color: #fff;
	text-align: center;
	line-height: 40px;
  background: #2196F3;
  margin: 0;
}

.map{
	width: 100%;
	height: 300px;
}
